<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="mb-10">詳細設定</h2>
      <%= render 'shares/flash.messages' %>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="form-body">

        <div class="form-group">
          <%= f.label :"メールアドレス" %><br />
          <% if @user.email == "guest@example.com" %>
            <%= f.email_field :email, autofocus: true, class:"form-control", placeholder:"メールアドレス", disabled: true%>
          <% else %>
            <%= f.email_field :email, autofocus: true, class:"form-control", placeholder:"メールアドレス"%>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :新規パスワード %> <span>(６文字以上)</span><br />
          <%= f.password_field :password, class:"form-control", autocomplete: "new-password" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, class:"form-control", autocomplete: "new-password" %>
        </div>

        <div class="form-group">
          <%= f.label :current_password %><br />
          <%= f.password_field :current_password, class:"form-control", autocomplete: "current-password" %>
        </div>
        <% if @user.email == "guest@example.com" %>
          <p class="color_red">※ゲストユーザーは詳細設定の編集ができない設定となっております。</p>
          <p class="color_red">※ゲストユーザーはアカウント削除ができない設定となっております。</p>
        <% end %>
        <%= f.submit "更新する", class: "btn btn-lg btn-block btn-success" %>
      </div>
      <% end %>
      <div class="pull-right">
        <%= link_to "アカウント削除", registration_path(resource_name), class: "btn btn-danger", method: :delete,
          data:{confirm: "<span class='glyphicon glyphicon-exclamation-sign' aria-hidden='true' style='color: #d9534f;'></span>本当に<strong>#{@user.name}</strong>さんのアカウントを削除しますか?", verify: "#{@user.name}", verify_text: "削除する場合はユーザー名を入力してください",cancel: 'やめる', commit: '削除する'} %>
        <%= link_to "もどる", edit_user_path(@user), class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>