<% if user_signed_in? %>
  <% if best.favorited_by?(current_user) %>
    <%=link_to best_favorites_path(best.id), method: :delete, remote: true do%>
    <p>お気に入り<span class="glyphicon glyphicon-heart" style="color: red;"></span><%= best.favorites.count %></p>
    <% end %>
  <% else %>
	<%=link_to best_favorites_path(best.id), method: :post, remote: true do%>
	<p>お気に入り<span class="glyphicon glyphicon-heart"></span><%= best.favorites.count %></p>
	<% end %>
  <% end %>
<% else %>
  <p>お気に入り<span></span><%= best.favorites.count %></p>
<% end %>