<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <%= render 'shares/sidebar', all_ranks: @all_ranks, best: @best, q: @q %>
  	</div>
  	<div class="col-lg-9">
  	  <h2>ユーザ一覧</h2>
		<table class="table">
		  <thead>
		    <tr>
			  <th></th>
			  <th>名前</th>
			  <th>性別</th>
			  <th>年代</th>
			  <th></th>
		    </tr>
		  </thead>
		  <tbody>
			<% @users.each do |user| %>
			<tr>
			  <td><%= link_to user_path(user) do %>
				<%= attachment_image_tag user, :profile_image, :fill, 60, 60, class: "img-circle", format: 'jpeg', fallback: "no_image.png", size:'60x60' %>
			  <% end %></td>
			  <td><%= user.name %></td>
			  	<% if user.sex.blank? %>
			      <%= "未設定" %>
			  	<% else %>
			  	  <% case user.sex %>
			  	  <% when 'male' %>
			      <td>男性</td>
			      <% when 'female' %>
			      <td>女性</td>
			      <% end %>
			    <% end %>
			  <td>
			  	<% if user.age.blank? %>
			      <%= "未設定" %>
			  	<% else %>
			      <%= user.age %>
			  	<% end %>
			  </td>
			  <td><%= link_to "詳細", user_path(user) %></td>
			</tr>
			<% end %>
		  </tbody>
		</table>
	</div>
  </div>
</div>