<p class="text-center"><%= link_to @bests.genres ,bests_genre_search_path %></p>
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <%= render 'shares/sidebar', all_ranks: @all_ranks, best: @best %>
  	</div>
	<div class="col-lg-9">
	  <div class="row">
	    <div class="col-md-8 col-md-offset-2">
	      <div class="text-center">
		    <%= attachment_image_tag @user, :profile_image, :fill, 200, 200, class: "img-circle", format: 'jpeg', fallback: "no_image.png", size: '200x200',class: "img-circle" %>
		    <p><%= @user.name %></p>
			<div>
			  <% if @user.sex.blank? %>
			    <%= "性別未設定" %>
			  <% else %>
			    <%= @user.sex %>
			  <% end %>
			  <% if @user.age.blank? %>
			    <%= "年齢未設定" %>
			  <% else %>
			    <%= @user.age %>
			  <% end %>
			</div>
			<% if @user.id == current_user.id %>
			  <%= link_to "edit", edit_user_path(@user), class: "btn btn-warning" %>
			  <%= link_to "favorites lists", favorites_user_path(@user), class: "btn btn-info" %>
			<% end %>
		  </div>
		  <p>introduction:<%= @user.introduction %></p>
		</div>
	  </div>
	  <h3>投稿一覧</h3>
	  <% @bests_user.each do |best| %>
	  <div class="pull-left text-center">
		<div class="mr-15"><%= link_to best_path(best) do %>
		  <%= attachment_image_tag best, :best_image, :fill, 250, 200, format: 'jpeg', fallback: "no_image.png", size:'250x200' %>
		  <% end %>
		  <p class="well well-sm lead"><%= best.genre %></p>
		  <div class="panel panel-default">
		  	<%= best.best_name %>
		  	<div class="favorite_<%= best.id %>">
              <%= render 'favorites/favorite', best: best %>
            </div>
		  </div>
		</div>
	  </div>
	  <% end %>
	</div>
  </div>
</div>