<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <%= render 'shares/sidebar', all_ranks: @all_ranks, best: @best, q: @q %>
  	</div>
	<div class="col-lg-9">
	  <%= render 'shares/flash.messages' %>
	  <div class="row">
	    <div class="col-md-8 col-md-offset-2">
	      <div class="text-center">
		    <%= attachment_image_tag @user, :profile_image, size: '200x200', format: 'jpeg', class: "img-circle", fallback: "no_image.png", size: '200x200',class: "img-circle" %>
		    <div><span class="glyphicon glyphicon-user" aria-hidden="true"></span><strong>ユーザー名</strong><br>
		    <%= @user.name %></div>
			<div>
			  <% if @user.sex.blank? %>
			    <h4 class="block"><span class="label label-default">性別未設定</span></h4>
			  <% else %>
		        <% case @user.sex %>
		  	    <% when 'male' %>
		        <h4 class="block"><span class="label label-primary">男性</span></h4>
		        <% when 'female' %>
		        <h4 class="block"><span class="label label-danger">女性</span></h4>
			    <% end %>
			  <% end %>
			  <% if @user.age.blank? %>
			    <h4 class="block"><span class="label label-default">年齢未設定</span></h4>
			  <% else %>
			    <strong><%= @user.age %></strong>
			  <% end %>
			</div>
			<div><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span><strong>プロフィール</strong><br>
			<%= @user.introduction %></div>
			<% if @user.id == current_user.id %>
			  <%= link_to "編集する", edit_user_path(@user), class: "btn btn-warning" %>
			  <%= link_to "お気に入り一覧", favorites_user_path(@user), class: "btn btn-info" %>
			<% end %>
		  </div>
		</div>
	  </div>
	  <h3>投稿一覧</h3>
	  <div class="text-center">
	  	<% if @bests_user.present? %>
	      <% @bests_user.each do |best| %>
		  <div class="mr-15 block"><%= link_to best_path(best) do %>
		    <%= attachment_image_tag best, :best_image, :fill, 250, 200, class: "pointer", format: 'jpeg', fallback: "no_image.png", size:'250x200' %>
		    <% end %>
		    <p class="well well-sm lead"><%= best.genre %></p>
		    <div class="panel panel-default">
		  	  <%= best.best_name %>
		  	  <div class="favorite_<%= best.id %>">
                <%= render 'favorites/favorite', best: best %>
              </div>
		    </div>
		  </div>
	      <% end %>
	    <% else %>
	      <h1 class="text-muted">投稿はありません</h1>
	    <% end %>
	  </div>
	</div>
  </div>
</div>