<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="text-center">
        <h2>ログイン</h2>
        <div class="form-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.email_field :email, class:"form-control", placeholder:"メールアドレス"%>
          </div>

          <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder:"パスワード" %>
          </div>

          <%= f.submit "ログイン", class:"btn btn-lg btn-block btn-base-1 mt-20 btn btn-success" %>
          <% end %>
          <%= link_to 'かんたんログイン', users_guest_sign_in_path, method: :post, class:"btn btn-lg btn-block btn-base-1 mt-20 btn btn-warning" %>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>