<h1>Bests#index</h1>
<p>Find me in app/views/bests/index.html.erb</p>
<p><%= link_to @bests.genres ,bests_genre_search_path %></p>

<% @bests.each do |best| %>
<%= link_to best_path(best) do %>
<%= attachment_image_tag best, :best_image, :fill, 200, 200, format: 'jpeg', fallback: "no_image.png", size:'200x200' %>
<% end %>
<%= best.best_name %>
<%= best.best_url %>
<%= best.genre %>
<%= best.user.age %>
<%= best.user.sex %>
<% end %>


