<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <%= render 'shares/sidebar', all_ranks: @all_ranks, best: @best, q: @q %>
    </div>
    <div class="col-lg-9">
      <h2>BEST一覧</h2>
      <div class="text-center">
        <% @bests.each do |best| %>
          <div class="mr-15 block"><%= link_to best_path(best) do %>
            <%= attachment_image_tag best, :best_image, :fill, 250, 200, class: "pointer", format: 'jpeg', fallback: "no_image.png", size:'250x200' %>
            <% end %>
            <p class="well well-sm lead"><%= best.genre %></p>
            <div class="panel panel-default">
              <%= best.best_name %>
              <div>
                <% if best.user.sex.blank? %>
                  <span class="label label-default">性別未設定</span>
                <% else %>
                  <% case best.user.sex %>
                  <% when 'male' %>
                  <span class="label label-primary">男性</span>
                  <% when 'female' %>
                  <span class="label label-danger">女性</span>
                  <% end %>
                <% end %>
                <% if best.user.age.blank? %>
                  <span class="label label-default">年齢未設定</span>
                <% else %>
                  <%= best.user.age %>
                <% end %>
                <div class="favorite_<%= best.id %>">
                  <%= render 'favorites/favorite', best: best %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>