<h1>Bests#new</h1>
<p>Find me in app/views/bests/new.html.erb</p>

<%= form_for(@best) do |f| %>
<%= attachment_image_tag @best, :best_image, :fill, 60, 60, fallback: "no_image.png"%>
<%= f.attachment_field :best_image %>
<%= f.label :"best_name" %>
<%= f.text_field :best_name, autofocus: true, placeholder:"best_name"%>
<%= f.label :"url" %>
<%= f.text_field :best_url, autofocus: true, placeholder:"url"%>
<%= f.label :"genre" %>
<%= f.select :genre, Best.genres.keys.to_a, {} %>
<%= f.label :"recommend" %>
<%= f.text_area :recommend, placeholder:"recommend"%>
<%= f.submit "post" %>
<% end %>