<!DOCTYPE html>
<html>
  <head>
    <title>BEST</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">BEST</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
            <li><%= link_to "new post", new_best_path %></li>
            <li><%= link_to "about", homes_about_path %></li>
            <li><%= link_to "users", users_path %></li>
            <li><%= link_to "bests", bests_path %></li>
            <li><%= link_to "my page", user_path(current_user.id) %></li>
            <li><%= link_to "logout", destroy_user_session_path, method: :delete %></li>
            <% else %>
            <li><%= link_to "top", root_path %></li>
            <li><%= link_to "about", homes_about_path %></li>
            <li><%= link_to "sign up", new_user_registration_path %></li>
            <li><%= link_to "login", new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="top-padding">
      <%= yield %>
    </div>
  </body>
</html>
