<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag('icon.png') %>
    <title>BEST</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render 'shares/header' %>
      <div class="top-padding pb-60">
        <%= yield %>
      </div>
      <footer>
        <p>Copyright &copy; 2020 BEST, All Rights Reserved.</p>
      </footer>
    </div>
  </body>
</html>
